.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  height: 20px;
  width: 20px;
  border: 1px solid green;
  color: red;
  background: rgb(255, 255, 255);
}

.line {
  display: flex;
}